################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLPHONGTHUCHANH/QLPHONGTHUCHANH/fMain.cs
/QLPHONGTHUCHANH/QLPHONGTHUCHANH/fMain.Designer.cs
/QLPHONGTHUCHANH/QLPHONGTHUCHANH/fMain.resx
